@page "/"
@inject MediatR.IMediator _mediator
@using LearningLibrary.Models



<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<u1>
    @foreach (var p in people)
    {
        <li>@p.FirstName @p.LastName</li>   
    }
</u1>
@code {
    List<PersonModel> people;

    protected override async Task OnInitializedAsync()
    {
        people = await _mediator.Send(new GetPersonListQuery());
    }

}
